@font-face {
    font-family: "flaticon_festiva";
    src: url("./flaticon_festiva.ttf?5cc483dc00e18869d0c99579afd3c79f") format("truetype"),
url("./flaticon_festiva.woff?5cc483dc00e18869d0c99579afd3c79f") format("woff"),
url("./flaticon_festiva.woff2?5cc483dc00e18869d0c99579afd3c79f") format("woff2"),
url("./flaticon_festiva.eot?5cc483dc00e18869d0c99579afd3c79f#iefix") format("embedded-opentype"),
url("./flaticon_festiva.svg?5cc483dc00e18869d0c99579afd3c79f#flaticon_festiva") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_festiva !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-plane:before {
    content: "\f101";
}
.flaticon-plane-2:before {
    content: "\f102";
}
.flaticon-search:before {
    content: "\f103";
}
.flaticon-train:before {
    content: "\f104";
}
.flaticon-visit:before {
    content: "\f105";
}
.flaticon-arrow:before {
    content: "\f106";
}
.flaticon-arrow-4:before {
    content: "\f107";
}
.flaticon-arrow-down:before {
    content: "\f108";
}
.flaticon-check:before {
    content: "\f109";
}
.flaticon-car-2:before {
    content: "\f10a";
}
.flaticon-clock:before {
    content: "\f10b";
}
.flaticon-compare:before {
    content: "\f10c";
}
.flaticon-envelop:before {
    content: "\f10d";
}
.flaticon-grid:before {
    content: "\f10e";
}
.flaticon-layer:before {
    content: "\f10f";
}
.flaticon-letter:before {
    content: "\f110";
}
.flaticon-long-arrow-left:before {
    content: "\f111";
}
.flaticon-long-arrow-right:before {
    content: "\f112";
}
.flaticon-money:before {
    content: "\f113";
}
.flaticon-phone:before {
    content: "\f114";
}
.flaticon-car-3:before {
    content: "\f115";
}
.flaticon-support:before {
    content: "\f116";
}
.flaticon-user:before {
    content: "\f117";
}
.flaticon-warehousing:before {
    content: "\f118";
}
.flaticon-arrow-2:before {
    content: "\f119";
}
.flaticon-arrow-3:before {
    content: "\f11a";
}
.flaticon-boat:before {
    content: "\f11b";
}
.flaticon-box:before {
    content: "\f11c";
}
.flaticon-calendar:before {
    content: "\f11d";
}
.flaticon-calendar-2:before {
    content: "\f11e";
}
.flaticon-car:before {
    content: "\f11f";
}
.flaticon-car-4:before {
    content: "\f120";
}
.flaticon-map:before {
    content: "\f121";
}
.flaticon-market:before {
    content: "\f122";
}
.flaticon-phone-3:before {
    content: "\f123";
}
.flaticon-plane-1:before {
    content: "\f124";
}
.flaticon-plane-2-1:before {
    content: "\f125";
}
.flaticon-search-1:before {
    content: "\f126";
}
.flaticon-search-interface-symbol:before {
    content: "\f127";
}
