html {
    box-sizing: border-box;
}
.pxl-wapper{
    background: #0B0B1C;
}
body {
    background-color: transparent;
    font-size: 20px;
    line-height: 1.5;
    color: $primary_color;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    font-weight: normal;
    letter-spacing: 0;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    &.body-overflow {
        overflow: hidden;
    }
    @media #{$max-sm} {
        &.body-visible-sm {
            overflow: visible;
        }
    }
}
a {
    @include transition(all .25s cubic-bezier(.645,.045,.355,1));
    &:before, &:after {
        @include transition(inherit);
    }
    color: $link_color;
    &:hover {
        color: $link_color_hover;
    }
    &:active {
        color: $link_color_active;
    }
}


a, a:hover, a:focus, a:before, a:after {
  outline: none;
  text-decoration: none;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.ft-heading {
    font-family: 'Syne', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Syne', sans-serif;
    color: white;
    font-weight: 700;
    clear: both;
    margin: 0;
    line-height: 1.2;
}
h1, .h1 {
  font-size: 52px;
}

h2, .h2 {
  font-size: 48px;
}

h3, .h3 {
  font-size: 32px;
}

h4, .h4 {
  font-size: 28px;
}

h5, .h5 {
  font-size: 22px;
}

h6, .h6 {
  font-size: 18px;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    object-fit: cover;
}

// Unitest
//--------------------------------------------------
table {
    border-bottom: 1px solid #ededed;
    border-left: 1px solid #ededed;
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 2;
    margin: 0 0 32px;
    width: 100%;
    @include border-radius(0);
    th {
        color: #000;
    }
}
caption, td {
    font-weight: normal;
}
.table > tbody > tr > td, 
.table > tbody > tr > th, 
.table > tfoot > tr > td, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > thead > tr > th {
    padding: 13px 8px;
}
th {
    font-weight: 600;
    border-top: 1px solid #ededed;
    padding: 10px;
    border-right: 1px solid #ededed;
}
td {
    border-top: 1px solid #ededed;
    padding: 10px;
    border-right: 1px solid #ededed;
}
dl {
    margin: 0 0 0 25px;
}
dl dt {
    font-weight: normal;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
}
dl dd {
    line-height: normal;
    margin-bottom: 20px;
    a {
        color: #000;
        &:hover {
            color: $primary_color;
        }
    }
}
code, kbd {
    background-color: transparent;
    border-radius: 4px;
    color: inherit;
    font-size: 100%;
    padding: 2px 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
ins {
    color: $primary_color;
    border: none;
    padding: 2px;
    text-decoration: none;
    background-color: $primary_color;
}
pre {
    background: #f5f5f5;
    color: #666;
    font-size: 14px;
    margin: 20px 0;
    overflow: auto;
    padding: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
ol {
    list-style: outside none decimal;
    margin-bottom: 32px;
}
ul {
    padding: 0;
    margin: 0;
    li {
        list-style-position: inside;
    }
}

dl + h2 + ul {
    padding-left: 35px;
    ul {
        padding-left: 35px;
        li {
            list-style: outside;
        }
    }
}
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
    img[class*="wp-image-"] {
        @include center-block;
    }
    .wp-caption-text {
        padding: 0.8075em 0;
        font-size: 0.875em;
        font-style: italic;
    }
}
.gallery-caption {
    opacity: 1;
    margin-top: 10px;
}
.wp-block-group.has-background {
    padding: 40px;
    margin-bottom: 30px;
}
.wp-caption-text {
    text-align: center;
}
.alignleft,
.alignright,
.aligncenter {
    margin-top: 15px;
    margin-bottom: 32px;
}
.alignleft {
    display: inline;
    float: left;
    margin-right: 30px;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 35px;
}
.aligncenter {
    clear: both;
    @include center-block;
}
.sticky {
    display: block;
}
.screen-reader-text {
    display: none;
}
.bypostauthor {
    display: block;
}
blockquote {
    background-color: #13293F;
    padding: 30px 30px 30px 152px;
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: $primary_color;
    min-height: 130px;
    position: relative;
    &:before {
        position:  absolute;
        content: '';
        background-image: url(../img/quote.png);
        width: 90px;
        height: 90px;
        background-position: center;
        background-repeat: no-repeat;
        top: 50%;
        transform:translatey(-50%);
        left: 36px;
        border-radius: 10000px;
        @media #{$max-sm} {
            display: none;
        }
    }
    @extend .ft-theme-default;
    @media #{$max-sm} {
        padding-left: 20px;
        padding-right: 20px;
    }
    cite,a {
        font-size: 18px;
        color: $primary_color;
        font-style: normal;
        margin-top: 16px;
        display: block;
        span {
            display: block;
            font-size: 14px;
            color: #666666;
            font-weight: 400;
            font-family: 'Outfit', sans-serif;
            margin-top: -2px;
        }
    }
    p:last-child {
        margin-bottom: 0;
    }
    // &.wp-block-quote {
    //     p {
    //         margin-bottom: 16px !important;
    //     }
    //     cite br {
    //         display: none;
    //     }
    //     &.has-text-align-right {
    //         &:before {
    //             left: auto;
    //             right: 0;
    //         }
    //     }
    // }
}
.wp-block-button {
  margin-bottom: 20px;
  .wp-block-button__link {
    padding-left: 32px;
    padding-right: 32px;
    background: linear-gradient(90deg, $gradient_color_from 0%, $gradient_color_to 51%, $gradient_color_from 100%);
    font-size: 16px;
    font-weight: 700;
    background-size: 200%;
    transition: all 0.3s linear;
    &:not([href]) {
      color: $primary_color;
  }
  &:hover {
    background-position: 100%;
    border-color: $primary_color;
    color: $primary_color;
    &:not([href]) {
        color: $primary_color;
    }
}
}
&.is-style-outline .wp-block-button__link {
    background-color: transparent;
    color: $primary_color;
    &:hover {
      background-color: $primary_color;
      border-color: $primary_color;
      color: $primary_color;
  }
}
&.is-style-squared .wp-block-button__link {
    @include border-radius(0px);
}
&.aligncenter {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
}


.has-background-dim {
  color: $primary_color;
  margin-bottom: 30px;
}
.wp-block-gallery {
  .blocks-gallery-item {
    float: left;
}
.blocks-gallery-caption {
    margin-bottom: 22px;
}
&.alignleft {
    margin-right: 30px;
}
&.alignright {
    margin-left: 30px;
}
}


.dialog-lightbox-close-button{
    z-index: 11 !important;
}
#tslOverlay {
  background-color: transparent !important;
  z-index: 999999 !important;
}

.pxl-title--highlight{
    font-weight: 800;
}

.grid-sizer{
    display: none;
}


.pxl-image--popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s linear;
    z-index: 9;
    background: rgba(255, 255, 255, 0.35);
    i{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &:hover{
        opacity: 1;
        width: 100%;
    }
}