	.pxl-link.pxl-link-l1{
		li{
			display: flex;
			.text_list_style{
				display: flex;
			}
			a{
				display: flex;
			}
			&:marker{
				display: none;
			}
		}
		&.type-horizontal{
			display: flex;
			flex-wrap: wrap;
		}
		//Style 1
		&.style-1{
			// Icon 
			i{
				display: flex;
				margin-right: 7px;
				width: 50px;
				height: 50px;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				flex-shrink: 0;
				border-top: 1px solid var(--blue-grid-2, #30364C);
				background: var(--purple-grad-2, linear-gradient(180deg, #35244A 0%, #17112B 100%));
			}


			//Text
			span{
				position: relative;
				@include transition(all 200ms linear 0ms);
				@include transition(all .25s cubic-bezier(.645,.045,.355,1));
				display: inline-flex;
				align-items: center;
				text-align: center;
				justify-content: center;
				overflow: hidden;
				--element-color: rgba(255, 255, 255, 0.46);
				color: var(--element-color);

				&:after{
					content: "";
					position: absolute;
					transform: translate(-50%, -50%);
					width: 0;
					height: 3px;
					left: 0;
					bottom: -2px;
					background-color: var(--element-color);
					transition: all 0.25s linear;
				}
				&:before{
					content: "";
					position: absolute;
					transform: translate(49%, -50%);
					width: 0;
					height: 3px;
					right: -1px;
					bottom: -2px;
					background-color: var(--element-color);
					transition: all 0.25s linear;

				}
				&:hover{
					&:before,&:after{
						width: 100%;
					}
				}
			}
		}

		&.style-2{
			// Icon 
			i{
				display: flex;
				width: 34px;
				height: 34px;
				border-radius: 50%;
				font-size: 13px;
				justify-content: center;
				align-items: center;
				margin-right: 12px;
				background: #322047;

			}
		}
		&.style-1,&.style-2{
			
			a{
				i{
					position: relative;
					z-index: 99;
					&:after{
						position: absolute;
						content: '';
						width: 0;
						height: 0;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						transition: all 0.3s linear;
						opacity: 0;
						border-radius: inherit;
						z-index: -1;

					}
				}
				&:hover{
					i{
						color: #17112B;
						&:after{
							width: 100%;
							height: 100%;
							opacity: 1;
							background: #fff;
						}
					}
				}
			}
			
		}

	}

