.pxl-grid.pxl-grid-default{
	padding: 15px;
	.pxl-grid-inner.pxl-grid-masonry.row{
		.pxl-grid-item {
			padding: 3px;
			.item--inner{
				a{
					position: absolute;
					width: 100%;
					height: 100%;
				}

			}
		}
	}

}

//BR Showcase Grid
.pxl-showcase-grid{
	.pxl-grid-inner{
		.grid-sizer{
			display: none;
		}
		.pxl-grid-item{
			.pxl-item--inner {
				.pxl-item--image{
					position: relative;
					overflow: hidden;
					transition: all 0.3s linear;
					img{
						position: relative;
						z-index: 1;
						transition: all 0.3s linear;
					}
					a{
						position: absolute;
						top: 50%;
						left: 50%;
						width: 0;
						height: 100%;
						transform: translate(-50%,-50%);
						text-align: center;
						display: flex;
						justify-content: center;
						align-items: center;
						opacity: 0;
						transition: all 0.3s linear;
						z-index: 9;
						background-color: rgba(#000, .2);
					}
					&:hover{
						img{
							transform: scale(1.1);
						}
						a{
							opacity: 1;
							width: 100%;
						}
					}
				}
			}

		}
	}
	.pxl-grid-item {
		@media #{$max-lg} {
			max-width: 100% !important;
			flex: 100% !important;
		}
	}
	.pxl-item--title{
		text-align: center;
		margin-top: 10px;
		@media #{$max-lg} {
			font-size: 15px;
			margin-bottom: 15px;
		}
	}
	&.pxl-showcase-grid1{
		.btn-primary{
			.pxl-text--btn{
				font-family: 'Plus Jakarta Sans';
				color: $primary_color;
				font-size: 12px;
				position: relative;
				width: 86px;
				height: 86px;
				display: flex;
				justify-content: center;
				align-items: center;
				&:before,&:after{
					position: absolute;
					content: '';
					width: 100%;
					height: 100%;
					border-radius: 50%;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					background: linear-gradient(180deg, $gradient_color_from 0%, $gradient_color_to 100%);
				}
				&:after{
					width: calc(100% - 4px);
					height: calc(100% - 4px);
					background: #0a1320;
				}
				span{
					z-index: 9;
				}
			}
		}
	}

	&.pxl-showcase-grid2{
		.pxl-grid-inner{
			.pxl-grid-item{
				.pxl-item--inner {
					.pxl-item--image{
						.pxl-item--buttons{
							position: absolute;
							top: 50%;
							left: 50%;
							width: 100%;
							transform: translate(-50%,-50%);
							z-index: 9;
							text-align: center;
							display: flex;
							flex-direction: column;
							gap: 10px;
						}
						.pxl-item--button{
							display: flex;
							justify-content: center;
							align-items: center;
						}
						.btn-primary{
							position: relative;
							transform: translateY(15px);
							background: unset;
							top: 0;
							left: 0;
							width: 150px;
							line-height: 45px;
							border-radius: 25px;
							background: linear-gradient(90deg, $gradient_color_from 0%, $gradient_color_to 51%, $gradient_color_from 100%);
							background-size: 200%, auto;
							overflow: hidden;
							transition: all 0.3s linear;
							color: #FFF;
							&:hover{
								background-position: 100%;

							}
						}

						&:hover{
							.btn-primary{
								width: 150px;
								transform: translateY(0);
								&.btn-1{
									transition-delay: 0s ;

								}
								&.btn-2{
									transition-delay: 0.1s ;
								}
							}
						}
					}
				}
			}
		}
		
	}
}
