.pxl-list-ticket {
	.pxl--items{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 30px 0 26px 0;
		border-bottom: 1.177px solid rgba(255, 255, 255, 0.10);
		position: relative;
		@media #{$max-xs}{
			display: block;
			padding-left: 10px;
		}
		>a{
			position: absolute;
			width: 100%;
			height: 100%;
		}
		&:hover{
			border-radius: 15px;
			border: 1px dashed rgba(255, 255, 255, 0.25);
			background: #1A1329;
			transition: all 0.25s linear;
			.pxl--date{
				transform: translateX(40px);
				transition: all 0.25s linear;
				@media #{$mm-md} {
					transform: translateX(25px);
				}
				@media #{$max-sm}{
					transform: translateX(20px);
				}
				@media #{$max-xs}{
					transform: translateX(0);
				}
			}
			.btn-buy-ticket{
				transform: translateX(-30px);
				transition: all 0.25s linear;
				@media #{$max-xs}{
					transform: translateX(15px);
				}			
			}
		}
		.pxl--item, .pxl--button{
			font-family: 'Manrope', sans-serif;
		} 
		.pxl--item{
			display: flex;
			align-items: center;
			@media #{$max-xs}{
				display: block;
			}
			.pxl--date {
				margin-right: 105px;
				color: $primary_color;
				font-size: 20px; 
				font-weight: 600;
				transition: all 0.25s linear;
				@media #{$max-xl} {
					font-size: 17px;
					margin-right: 85px;
				}
				@media #{$max-lg} {
					font-size: 15px;
				}
				@media #{$mm-md} {
					font-size: 9px;
					margin-right: 46px;
				}
				@media #{$max-sm}{
					margin-right: 43px;
				}
				@media #{$max-xsx}{
					font-size: 14px;
				}

			}
			.pxl-info-author{
				display: flex;
				align-items: center;
				@media #{$max-xs}{
					padding : 15px 0;
				}

			}
			.pxl-image-author{
				background-image: linear-gradient(90deg, $gradient_color_from 0%, $gradient_color_to 100%);
				padding: 2px;
				border-radius: 50%;
			}
			.pxl-image-author img{
				border-radius: 50%;
			}
			.pxl-item--text{
				margin-left: 15px;
				.pxl-name-author, .pxl-position{
					color: $primary_color;
					font-size: 20px;
					font-weight: 500;
					@media #{$max-xl} {
						font-size: 17px;
					}
					@media #{$max-lg} {
						font-size: 15px;
					}
					@media #{$mm-md} {
						font-size: 12px;
					}
					@media #{$max-xs}{
						font-size: 18px;
					}
				}
				.pxl-position{
					color:#5D5D64;
					font-size: 18px;
					@media #{$max-xl} {
						font-size: 15px;
					}
					@media #{$max-lg} {
						font-size: 12px;
					}
					@media #{$mm-md} {
						font-size: 9px;
					}
					@media #{$max-xs}{
						font-size: 14px;
					}

				}
			}
			
		}
		.pxl--button{
			display: flex;
			align-items: center;
			.btn-condition{
				color: #FF2883;
				font-size: 14px;
				font-weight: 700;
				line-height: 35px;
				border-radius: 117.712px;
				background: rgba(255, 40, 131, 0.20);
				padding: 0 17px;
				margin-right: 88px;
				@media #{$max-xl} {
					margin-right: 48px;
					font-size: 12px;
				}
				@media #{$mm-md} {
					font-size: 9px;
					margin-right: 30px;
					padding: 0 6px;
				}
				@media #{$max-sm}{
					padding: 0 8px;
					font-size: 9px;
				}
				@media #{$max-xs}{
					padding: 0 12px;
					margin-right: 24px;
					font-size: 12px;
				}	

				

			}
			.btn-buy-ticket{
				transition: all 0.25s linear;
				a{	
					font-family: 'Manrope';
					color: #FF2883;
					font-size: 16px;
					font-weight: 700;
					@media #{$max-xl} {
						font-size: 15px;
					}
					@media #{$max-lg} {
						font-size: 14px;
					}
					@media #{$mm-md} {
						font-size: 11px;
					}
					@media #{$max-sm}{
						font-size: 9px;
					}
					@media #{$max-xs}{
						margin-right: 24px;
						font-size: 14px;
					}	
					i{
						margin-left: 5px;
					}
				}
			}
			.btn-condition + .btn-buy-ticket a{
				color: rgba(255, 255, 255, 0.50) !important;
			}

		}
	}

}