.pxl-listbox{
	&.pxl-listbox-1{
		.pxl-content--lb{
			display: flex;
			padding: 27px 0 29px 0;
			min-height: 240px;
			border-bottom: 2px solid rgba(255, 255, 255, 0.15);
			transition: all 0.3s linear;
			position: relative;
			overflow: hidden;
			@media #{$max-xsx}{
				min-height: 0;
			}
			&:first-child{
				border-top: 2px solid rgba(255, 255, 255, 0.15);
			}
			.pxl-content--img{
				transition: all 0.3s linear;
				border-radius: 35px;
				width: 0;
				height: auto;
				background-size: cover;
				background-position: center;
				transition: all 0.3s linear;
				
			}
			.pxl-number{
				color: var(--white, #FFF);
				font-family: "Plus Jakarta Sans";
				font-size: 32px;
				font-weight: 700;
				line-height: 1.1;
				margin-right: 72px;
				margin-top: 22px;
				transition: all 0.3s linear;

				@media #{$max-xsx}{
					margin-right: 10px;
				}
			}
			.pxl-author{
				margin-top: 10px;
				@media #{$max-sm}{
					margin-top: 20px;
				}
				.pxl-author--name{
					display: flex;
					color: #FFF;
					font-family: "Plus Jakarta Sans";
					font-size: 100px;
					font-style: normal;
					line-height: 1;
					letter-spacing: -2px;
					margin-bottom: 20px;
					@media #{$max-lg}{
						font-size: 80px;
						margin-right: 15px;
					}
					@media #{$max-md}{
						font-size: 60px;
					}
					@media #{$max-sm}{
						font-size: 45px;
					}
					@media #{$max-xsx}{
						font-size: 36px;
					}
					.pxl-first--name{
						font-weight: 200;
						margin-right: 15px;
					}
					.pxl-last--name{
						font-weight: 800;
					}
				}
				.pxl--position{
					color: var(--Text-2, #918CB8);
					font-family: "DM Sans";
					font-size: 24px;
					font-weight: 400;
					line-height: 1.1;
					@media #{$max-lg}{
						font-size: 20px;
					}
					@media #{$max-xsx}{
						font-size: 14px;
					}
				}
			}
			a{
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
			&.active{
				background: #18235A;
				border-radius: 35px;
				border-bottom: 2px solid transparent;
				&:first-child{
					border-top: 2px solid transparent;
				}
				.pxl-content--img{
					margin-right: 58px;
					margin-left: 30px;
					width: 270px;
					transition: all 0.3s linear;
					@media #{$max-md}{
						margin-right: 25px;
					}
					@media #{$max-xs}{
						margin-right: 10px;
						margin-left: 0;
					}
					

					@media #{$max-xs}{
						width: 0;
					}

					
				}
				.pxl-number{
					color: #2562FF;
					margin-right: 23px;
					transition: all 0.3s linear;
					
				}
			}
			&.prev{
				border-bottom: 2px solid transparent;
			}
		}
	}
}