.pxl-nav-menu {

	/* First Level */
	.pxl-menu-primary > li {
		&.menu-item-has-children > a {
			position: relative;
			.caseicon-angle-arrow-down {
				display: inline-flex;
				margin-left: 10px;
				font-size: 12px;
				@include transition(transform .25s cubic-bezier(.645,.045,.355,1));
				&:before {
					@include transition(transform .25s cubic-bezier(.645,.045,.355,1));
				}
			}
		}
		&:hover > a .caseicon-angle-arrow-down {
			&:before {
				transform:rotatex(180deg);
			}
		}
	}

	&.fr-style-box1 .pxl-menu-primary > li {
		margin: 0 1px;
		> a {
			padding: 0 13px;
			span {
				line-height: 21px;
				display: inline-flex;
				padding: 0 10px;
				align-items: center;
				position: relative;
				z-index: 1;
				&:before {
					border-radius: 1000px;
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					background-color: $secondary_color;
					z-index: -1;
					@include transition(all .25s cubic-bezier(.645,.045,.355,1));
					transform: scaleY(0);
					transform-origin: bottom center;
				}
			}
		}
		> a.pxl-onepage-active,
		&:hover > a,
		&.current_page_item > a,
		&.current-menu-item > a,
		&.current_page_ancestor > a,
		&.current-menu-ancestor > a {
			color: $primary_color;
			span:before {
				transform: scaleY(1);
			}
		}
	}

	&.fr-style-divider1 .pxl-menu-primary > li {
		@media #{$min-xxl2} {
			margin: 0 14px;
		}
		margin: 0 4px;
		@media #{$max-lg2} {
			margin: 0 2px;
		}
		> a {
			&:before {
				content: '';
				height: 5px;
				width: 0;
				position: absolute;
				background-color: $primary_color;
				left: 0;
				right: 0;
				margin: 0 auto;
				@include transition(all 250ms linear 0ms);
				opacity: 0;
			}
			&:before {
				bottom: 0;
			}
			
			span {
				display: inline-flex;
				padding: 0 12px;
				position: relative;
				line-height: 42px;
				align-items: center;
				
			}
		}
		> a.pxl-onepage-active,
		&:hover > a,
		&.current_page_item > a,
		&.current-menu-item > a,
		&.current_page_ancestor > a,
		&.current-menu-ancestor > a {
			background-color: rgba(255,255,255,0.1);
			&:before {
				width: 100%;
				opacity: 1;
			}
		}
	}




	/* Sub Menu */
	.sub-menu li.menu-item-has-children > a:after {
		content: "\f14d";
		position: absolute;
		top: 50%;
		right: 0;
		@include transform(translate(0, -50%));
		font-size: 10px;
		font-family: "Caseicon";
		font-weight: 400;
	}

	&.show-effect-fade {
		.pxl-menu-primary .sub-menu {
			margin-top: 0;
		}
	}

	&.show-effect-dropdown {
		.pxl-menu-primary {
			.sub-menu {
				@include transform(scaleY(0));
				transform-origin: 0 0 0;
				-webkit-transform-origin: 0 0 0;
				-ms-transform-origin: 0 0 0;
				-o-transform-origin: 0 0 0;
				margin-top: 0;
			}
			li:hover > .sub-menu, li.focus > .sub-menu {
				@include transform(scaleY(1));
			}
		}
	}

	&.show-effect-slidedown {
		.pxl-menu-primary {
			.sub-menu {
				margin-top: 0;
				transform: perspective(500px) rotateX(-20deg);
				transform-origin: 50% 0%;
			}
			li:hover > .sub-menu, li.focus > .sub-menu {
				transform: perspective(500px) rotateX(0deg);
			}
		}
	}
}

@media #{$min-xl} {
	#pxl-header-default {
		.pxl-menu-primary > li {
			margin: 0 1px;
			> a {
				padding: 0 22px;
				span {
					line-height: 37px;
					display: inline-flex;
					align-items: center;
					position: relative;
					z-index: 1;
					// &:before {
					// 	content: '';
					// 	position: absolute;
					// 	top: 0;
					// 	left: 0;
					// 	height: 100%;
					// 	width: 100%;
					// 	background-color: $secondary_color;
					// 	z-index: -1;
					// 	@include transition(all .25s cubic-bezier(.645,.045,.355,1));
					// 	transform: scaleY(0);
					// 	transform-origin: bottom center;
					// }
				}
			}
			&:hover > a,
			&.current_page_item > a,
			&.current-menu-item > a,
			&.current_page_ancestor > a,
			&.current-menu-ancestor > a {
				color: $primary_color;
				span:before {
					transform: scaleY(1);
				}
			}
		}
	}
}


.pxl-nav-menu.pxl-nav-menu1{
	&.style-1{
		.pxl-menu-primary{
			background: linear-gradient(180deg, #35244A 0%, #17112B 100%);
			border-radius: 240px;
			border-top: 1.2px solid #574968;
		}
	}
	&.style-2{
		.pxl-menu-primary{
			> .menu-item{
				margin-right:  48px;
				&:last-child{
					margin-right: 26.78px;  
				}
				a{
					font-size: 18px;
					line-height: 1.4;
					color: #fff;
				}

			}
		}
	}
}
