/*--------------------------------------------------------------
POST GRID
----------------------------------------------------------------
# Grid Reset
# Grid Loadmore Style
# Grid Filter Style
# Blog
# Portfolio
# Service
# Carrer
# Event
--------------------------------------------------------------*/

// Grid Reset
.pxl-grid, .pxl-portfolio-carousel, .pxl-service-carousel {
	.pxl-item--image img, .pxl-item--featured img {
		width: 100%;
		height: 100%;
	}
	.pxl-item--title a, .item--title a {
		color: inherit;
		&:hover {
			color: inherit;
		}
	}
	.item--category { 
		a {
			color: inherit;
		}
	}
	&.pxl-grid-nogap {
		.pxl-grid-masonry {
			margin: 0 !important;
			.pxl-grid-item {
				padding: 0 !important;
				margin: 0;
			}
			.item--inner {
				margin-bottom: 0;
			}
		}
	}
}

// Grid Loadmore Style
.pxl-load-more-style1 {
	margin-top: 20px;
	.btn {
		padding: 0 38px;
		line-height: 60px;
		border-radius: 2px;
		&:hover {
			color: $primary_color;
		}
		&:after {
			content: '';
			width: 20px;
			height: 20px;
			@include border-radius(100%);
			border-color: transparent $primary_color transparent $primary_color;
			border-width: 1px;
			border-style: solid;
			position: absolute;
			top: 50%;
			right: 20px;
			animation: pxl_spin .6s infinite linear;
			-webkit-animation: pxl_spin .6s infinite linear;
			box-sizing: border-box;
			z-index: 2;
			margin-top: -10px;
			opacity: 0;
		}
	}
	&.loading .btn {
		padding-right: 60px;
		&:after {
			opacity: 1;
		}
	}
}

// Grid Filter Style
.pxl-grid-filter1 {
	margin-bottom: 61px;
	text-align: center;
	.pxl--filter-inner{
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: center;
		border-bottom: 1px solid #E7E7E7;
	}
	.filter-item {
		padding: 0 20px;
		color:  #1C3F39;
		font-family: Outfit;
		font-size: 18px;
		cursor: pointer;
		font-weight: 600;
		line-height: 22px;
		letter-spacing: 3px;
		@include transition(200ms all linear 0ms);
		padding-bottom: 19px;
		padding-top: 19px;
		position: relative;
		&:before {
			position: absolute;
			content: '';
			@include transition(200ms all linear 0ms);
			width: 0;
			height: 4px;
			left: 50%;
			transform: translatex(-50%);
			bottom: -4px;
			background-color: $primary_color;
		}
		&:last-child {
			margin-right: 0;
		}
		&.active, &:hover {
			border-color: $primary_color;
			color:  $primary_color;
			&:before {
				width: 100%;
			}
		}
	}
}


// Start Blog
//--------------------------------------------------


//Layout Template Post 1

.pxl-post-layout-post-1 {
	.pxl-grid-item{
		.pxl-item--inner{
			position: relative;
			overflow: hidden;
			margin-bottom: 30px;
			&:before, &:after{
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(0deg, #261F4D 21.01%, rgba(23, 17, 43, 0.14) 85.21%);
				border-radius: 15px;
				opacity: 1;
				transition : all 0.3s linear;
				
			}
			&:after{
				background: linear-gradient(0deg, #7424B2 0%, rgba(23, 17, 43, 0.14) 85.21%);
				opacity: 0;

			}

			

			.pxl-item--featured{
				a{
					position: absolute;
					inset:0;
					z-index: 8;
				}
				img{
					border-radius: 15px;
				}
			}
			&:hover{
				&::before{
					opacity: 0;
				}
				&::after{
					opacity: 1;
				}
				.pxl-item--meta .pxl-item--date{
					background-position: 100% !important;
				}
			}

			.pxl-item--meta{
				margin-bottom: 25px;
				.pxl-item--date{
					&.bg_sty_1,&.custom{
						color: $primary_color;
						font-family: Inter;
						font-size: 15px;
						font-weight: 500;
						line-height: 25.426px;
						border-radius: 100px;
						background: var(--purple-grad-5, linear-gradient(90deg, #6B4ACA 0%, #864EAC 50%, #E91A83 51%, #4C24C1 100%));
						padding : 7px 14px;
						background-size: 200%;
						transition: all 0.3s linear;
						i{
							margin-right: 12px;
						}
					}
					&.custom{
						background: linear-gradient(90deg, $gradient_color_from 0%, $gradient_color_to 50%,$gradient_color_to 51%,$gradient_color_from 100%);
						background-size: 200%;
						
					}
					
				}
			}
			.pxl-item--holder{
				position: absolute;
				bottom: 50px;
				padding: 0 30px 0 48px;	
				z-index: 9;
				.pxl-item--title{
					font-family: "Plus Jakarta Sans";
					font-size: 20px;
					font-weight: 700;
					line-height: 140%;
					@media #{$max-md2}{
						font-size: 18px;
					}
				}
				@media #{$max-md2}{
					padding: 0 30px;
				}

			}
		}
	}
}


//Event Grid
.pxl-event-grid-layout1{
	.pxl-item--holder{
		&.style-layout--1,&.style-layout--2{
			display: flex;
			border-radius: 25px;
			border: 2px solid rgba(255, 255, 255, 0.10);
			background: rgba(50, 33, 71, 0.10);
			backdrop-filter: blur(50px);
			padding: 33px;
			margin-bottom: 15px;
			position: relative;
			overflow: hidden;
			@media #{$max-md2}{
				padding: 15px; 
			}
			@media #{$max-sm}{
				display: block; 
			}
			.pxl-item--featured{	
				border-radius: 10px;
				overflow: hidden;
				position: relative;
				img{
					transition: all 0.3s linear;
				}
				.pxl-btn-category{
					position: absolute;
					top: 27px;
					left: 30px;
					background: #FF2883;
					padding: 9px 15px;
					color: $primary_color;
					font-family: "Plus Jakarta Sans";
					font-size: 16px;
					font-weight: 700;
					line-height: 1.4;
					@media #{$max-sm}{
						padding: 5px;
						top: 10px;
						left: 10px;
					}
				}
			}
			.meta-content{
				margin-left: 44px;
				position: relative;
				@media #{$max-sm}{
					margin: 0;
				}
				.pxl-schedule{
					display: inline-flex;
					border-radius: 200px;
					border: 1px solid rgba(255, 255, 255, 0.07);
					background: rgba(255, 255, 255, 0.08);
					padding: 0 23px;
					margin-top: 24px;
					color: $primary_color;
					font-size: 14px;
					line-height: 1.6;
					font-weight: 500;
					@media #{$max-sm}{
						padding: 0 5px;
						font-size: 12.5px;
					}
					i{
						background: var(--purple-Grad-1, linear-gradient(180deg, $gradient_color_from 0%, $gradient_color_to 100%));
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						@media #{$max-sm}{
							padding-right: 3px;
						}
					}
					.pxl-event--time,.pxl-event--date{
						padding: 8px 0;
					}
					.pxl-event--time{
						border-right: 1px solid rgba(255, 255, 255, 0.07);
						padding-right: 18px;
						@media #{$max-sm}{
							padding-left: 8px;
						}
					}
					.pxl-event--date{
						padding-left: 13px;
						@media #{$max-sm}{
							padding-right: 8px;
						}
					}

				}
				.pxl-inner{
					.pxl-item--title{
						&.style-color--1,&.custom{
							background: var(--Text-grad, linear-gradient(180deg, #fff 0%, #8E7CB3 100%));
							background-clip: text;
							-webkit-background-clip: text;
							-webkit-text-fill-color: transparent;

							max-width: 586px;
							margin: 17px 0 21px;
							@media #{$max-lg}{
								font-size: 32px;
								padding-right: 55px;
							}
							@media #{$max-sm}{
								font-size: 28px;
								padding-right: 25px;
							}
							a{
								font-family: "Syne";
								font-size: 36px;
								line-height: 1.3;
							}

						}
						&.custom{
							background: linear-gradient($gradient_color_from, $gradient_color_to);
							background-clip: text;
							-webkit-background-clip: text;
							-webkit-text-fill-color: transparent;
						}
					}
					.pxl-content{
						display: inline-flex;
						font-family: 'Plus Jakarta Sans';
						@media #{$max-sm}{
							display: inline;
						}
						.pxl-item--author{
							display: inline-flex;
							min-width: 217px;
							border-right: 1px solid rgba(255, 255, 255, 0.3);
							margin: auto 27px auto 0;
							@media #{$max-sm}{
								border: none;
							}
							img{
								width: 56px;
								height: 56px;
								border: 4px solid rgba(255, 255, 255, 0.22);
								border-radius: 50%;
							}
							.info-author{
								color: $primary_color;
								flex-shrink: 0;
								margin: auto 0;
								margin-left: 15px;
								.name{
									font-size: 18px;
									font-weight: 700;
									line-height: 1.4;
								}
								.pxl-user--position{
									font-size: 12px;
									font-weight: 600;
									line-height: 1;
									margin-top: 4px;
								}
							}
						}
						.pxl-item--summary{
							max-width: 400px;
							color: rgba(255, 255, 255, 0.60);
							font-size: 16px;
							line-height: 1.6;
							@media #{$max-sm}{
								margin-top: 20px;
							}
						}
					}
				}

				.pxl-item--button{

					margin-top: 41px;
					padding: 0 52px;
					line-height: 51px;
					position: relative;
					overflow: hidden;
					@media #{$max-lg}{
						margin-top: 20px;
					}

					a{
						position: relative;
						z-index: 9;
					}
					&::after{
						position: absolute;
						content: '';
						width: 98%;
						height: 93%;
						background: #150B32;
						top: 2px;
						left: 2px;
						border-radius: inherit;
						transition: all 0.25s linear;
					}
					&:hover{
						&::after{
							transform: translate(120%);
						}
					}
				}


				.pxl-bg--content{
					position: absolute;
					top: 0;
					filter: blur(50px);
					z-index: -1;
					opacity: 0;
					transition: all 0.3s linear;
				}
			}
			.pxl-bg--holder{
				position: absolute;
				top: 0;
				right: 0;
				opacity: 0;
				transition: all 0.3s linear;
				@media #{$max-sm}{
					display: none;
				}
			}


			&:hover{
				border: 2px solid rgba(233, 26, 131, 0.5);
				.pxl-item--featured{
					img{
						transform: scale(1.1);
					}
				}
				.pxl-bg--holder{
					opacity: 1;
					animation: zoom-effect 8s infinite linear;
				}
				.meta-content{
					.pxl-bg--content{
						opacity: 1;

					}
				}
			}
		}
		&.style-layout--2{
			border: 1px solid rgba(255, 255, 255, 0.08);
			background: rgba(255, 255, 255, 0.12);
			transition: all 0.3s linear;
			margin-bottom: 30px;
			.meta-content{
				.pxl-schedule{
					i{
						background: #FF2883;
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
				.pxl-inner{
					.pxl-item--title{
						&.style-color--1,&.custom{
							background: var(--Text-grad, linear-gradient(180deg, #fff 0%, #fff 100%));
							background-clip: text;
							-webkit-background-clip: text;
							-webkit-text-fill-color: transparent;
							max-width: 586px;
							margin: 17px 0 21px;

							@media #{$max-lg}{
								font-size: 32px;
								padding-right: 55px;
							}
							@media #{$max-sm}{
								font-size: 28px;
								padding-right: 25px;
							}
							a{
								font-family: "Bebas Neue";
								font-size: 36px;
								line-height: 1.3;								
								font-weight: 400;

							}

						}
						&.custom{
							background: linear-gradient($gradient_color_from, $gradient_color_to);
							background-clip: text;
							-webkit-background-clip: text;
							-webkit-text-fill-color: transparent;
						}
					}
				}
				.pxl-item--button{
					
					margin-top: 41px;
					padding: 0 52px;
					line-height: 51px;
					position: relative;
					overflow: hidden;
					background: transparent;
					border: 2px solid #fff;
					font-size: 16px;
					font-weight: 500;
					@media #{$max-lg}{
						margin-top: 20px;
					}

					a{
						position: relative;
						z-index: 9;
					}
					&::after{
						position: absolute;
						content: '';
						width: 120%;
						height: 0;
						background: #FCBE00;
						top: 50%;
						left: 50%;
						border-radius: inherit;
						transition: all 0.25s linear;
						transform: translate(-50%,-50%);

					}
					&:hover{
						border: 2px solid transparent;
						a{
							color:#0C2271;
						}
						&::after{
							transform: translate(-50%,-50%);
							height: 120%;
						}

					}
					
				}
				.pxl-bg--content{
					display: none;
				}
			}
			.pxl-bg--holder{
				g path{
					fill: #B4B7C9;
				}
			}
			&:hover{
				background: #4C14C3;
				backdrop-filter: blur(50px);
				border: 1px solid rgba(255, 255, 255, 0.3);
			}
		}
	}
}

.pxl-event-grid-layout2{
	.pxl-grid-inner{
		margin: 0 !important;
	}
	.pxl-grid--feature,.pxl-item--grid{
		font-family: "Plus Jakarta Sans";
		.pxl-item--inner{
			position: relative;
			.pxl-item--featured{
				img{
					width: 100%;
					max-height: 415px;
				}
			}
			.pxl-item--holder{
				margin-bottom: 20px;
				.pxl-item--meta{
					position: absolute;
					top: 0;
					left: 0;
					width: fit-content;
					color: #0C2271;
					padding: 24px;
					background: #90FFF2;
					display: grid;
					text-align: center;
					@media #{$max-md2}{
						padding: 12px;
					}
					.pxl-item--date{
						font-size: 18px;
						font-weight: 800;
						line-height: 18px;
						@media #{$max-md2}{
							font-size: 16px;						
						}
					}
					.pxl-item--month{
						font-family: "DM Sans";
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: 1;
						text-transform: uppercase;
						@media #{$max-md2}{
							font-size: 12px;						
						}
					}
				}
			}
			.pxl-item--author{
				margin: 13px 0;
				@media #{$max-md2}{
					margin:  8px 0;
				}
				.info-author{
					display: flex;
					color: var(--Blue-1, #2562FF);
					font-size: 14px;
					font-weight: 700;
					line-height: 1;
					text-transform: uppercase;
					border-bottom: 1px solid rgba(223, 225, 231, 1);
					padding-bottom: 14px;
					.name a{
						color: #0C2271;
						margin-left: 3px;
					}
				}
			}
			.pxl-item--title{
				color: var(--dark-blue-1, #0C2271);
				font-size: 28px;
				font-weight: 800;
				line-height: 1.04;
				margin-bottom: 12px;
			}
			.pxl-item--summary{
				color: var(--Gray-800, #3E4265);
				text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				font-size: 16px;
				font-weight: 400;
				line-height: 1.625;
				margin-bottom: 8px;
			}
			.pxl-item--readmore{
				overflow: hidden;
				.btn-readmore{
					color: var(--dark-blue-1, #0C2271);
					font-family: "DM Sans";
					font-size: 14px;
					font-weight: 700;
					line-height: 1.57;
					padding-bottom: 2px;
					position: relative;
					&:after{
						position: absolute;
						content: '';
						bottom: 0;
						left: 0;
						width: 100%;
						height: 1px;
						background: #000;
					}
					&:hover{
						&:after{
							animation: grow-line .5s ease-in-out;
						}
					}
				}
			}
		}
	}

	.pxl-item--featured{
		overflow: hidden;

		img{
			transition: all 0.3s linear;
			&:hover{
				transform: scale(1.1);
			}
		}
	}
	
}
.pxl-grid--items{
	.pxl-item--grid{
		margin-bottom: 30px;
		&:last-child{
			margin: 0;
		}
		.pxl-item--inner{
			display: flex;
			@media #{$max-sm}{
				display: block;
			}
			.pxl-item--featured{
				flex-shrink: 0;
				overflow: hidden;
				img{
					transition: all 0.3s linear;
					width: 100%;
					max-height: 185px;
				}
				@media #{$max-lg}{
					flex: 1 1 100%;
				}
			}
		}
		.pxl-item--holder{
			margin-left: 35px;
			@media #{$max-sm}{
				margin: 0;
			}
			.pxl-item--title{
				font-size: 20px;
				line-height: 1.457;
				@media #{$max-md2}{
					font-size: 14px;
				}
			}
		}
		
	}
}
