 .pxl-tabs {
    .pxl-item--title {
        cursor: pointer;
        @include transition(all .25s cubic-bezier(.645,.045,.355,1));
    }
    .pxl-item--content {
        display: none;
    }
    .elementor-section.elementor-section-stretched {
        width: auto !important;
        left: 0 !important;
    }
    .pxl-tabs--elementor {
        margin: 0 -15px;
    }
    &.tab-effect-fade {
        .pxl-item--content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100% !important;
            display: block !important;
            opacity: 0 !important;
            visibility: hidden;
            @include transition(all .25s cubic-bezier(.645,.045,.355,1));
            &.active {
                position: static;
                opacity: 1 !important;
                visibility: visible;
            }
        }
        .pxl-tabs--content {
            position: relative;
        }
    }
}

.over-hd {
    overflow: hidden;
}
//time table
.tt_navigation_cell  {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(../img/bg-timetable.png);  
    background-position: center;
    background-size: cover;
    padding:77px 20px;
    margin:0 !important;
    @media (max-width: 1250px) {
        background-image:none;
        background-color:#000000;
        padding:50px 20px;
    }
    @media (max-width: 991px) {
        padding:30px 20px;
    }
    @media (max-width: 480px) {
        padding:30px 15px;
    }
    .tt_tabs_navigation {
        li {
            margin:10px !important;
        }
        li a{
            border-radius: 5px;
            color: $primary_color !important;
            border:1px solid $primary_color !important;
            @extend .ft-theme-default;
            font-size: 20px !important;
            padding:12px 30px !important;
            transition: .3s !important;
            &:hover {
                background-color: $primary_color;
                //border-color: $primary_color !important ;
            }
            @media (max-width: 575px) {
                padding:8px 20px !important;
                font-size: 16px !important;
            }
            @media (max-width: 480px) {
                padding:8px 18px !important;
                font-size: 15px !important;
            }
        }
    }
}
.tt_tabs >.ui-tabs-panel {
    margin-top: -73px;
    background-color:#fcf9f4;
    padding:115px !important;
    @media (max-width: 1200px) {
        padding:115px 70px!important;  
    }
    @media (max-width: 991px) {
        padding:115px 10px!important;  
    }
    @media (max-width: 767px) {
        padding:75px 10px 55px 10px !important;  
    }
}
.pxl-tabs1,.pxl-tabs2,.pxl-tabs3 {
    .wrap-title{
        display: flex;
        justify-content: center;
        margin: 30px 0 61px;
    }
    .pxl-tabs--title {
        display: inline-flex;
        border: 1px solid rgba(255, 255, 255, 0.47);
        border-radius: 55px;
        @media #{$max-xs}{
            display: block;
            width: 100%;
            border-radius:36px; 
        }
        .pxl-item--title{
            text-align: center;
            padding: 22px 49px;
            color: $primary_color;
            font-family: "Plus Jakarta Sans";
            font-size: 30px;
            font-weight: 700;
            line-height: 1.3;
            border-right: 1px solid rgba(255, 255, 255, 0.47);
            @media #{$max-lg}{
                font-size: 26px;
                padding: 22px 34px;
            }
            @media #{$max-md2}{
                padding: 22px 28px;
            }
            @media #{$max-md}{
                padding: 22px;
            }
            @media #{$max-xs}{
                display: flex;
                width: 100%;
                justify-content: space-around;
                align-items: center;
                border-bottom: 1px solid rgba(255, 255, 255, 0.47);
                border-right: 0;

            }
            &.active{
                background: var(--purple-Grad-1, linear-gradient(180deg, #E100A8 0%, #71009C 100%));          
            }
            &:nth-child(1){
             border-radius: 55px 0 0 55px;
             @media #{$max-xs}{
                border-radius:36px 36px 0 0;            
            }
        }
        &:last-child{
            border-radius: 0 55px 55px 0;
            border: 0px;
            @media #{$max-xs}{
                border-radius: 0 0 36px 36px;            
            }
        }
        .pxl-sub--title{
            font-size: 16px;
            line-height: 1.4;
            @media #{$max-lg}{
                font-size: 14px;
            }
        }
    }
}

}
.pxl-tabs2,.pxl-tabs3 {
    .wrap-title{
        display: block;
        position: relative;
        margin: 0;
        padding: 30px 0 73px; 
        @media #{$max-md2}{
            padding: 30px 0 45px; 
        }
        .pxl-tabs--heading{
            color: var(--white, #FFF);
            font-family: "Plus Jakarta Sans";
            font-size: 60px;
            font-weight: 800;
            line-height: 1;
            @media #{$max-xl}{
                font-size: 50px;
            }
            @media #{$max-md2}{
                font-size: 42px;
            }
            .pxl-sub-heading{
                font-family: "DM Sans";
                font-size: 20px;
                font-weight: 700;
                line-height: 1.17;
                letter-spacing: 1.2px;
                color: #2562FF;
                margin-bottom: 27px;
                &.pxl-indentation{
                    position: relative;
                    display: flex;
                    align-items: center;
                    &:before{
                        content: '';
                        width: 25px;
                        height: 2px;
                        background: #2562FF;
                        margin-right: 20px;
                    }
                }
            }
        }
        .pxl-tabs--title{
            position: absolute;
            top: 0;
            right: 0;
            @media #{$max-md}{
                position: unset;
                margin-top: 30px;
            }
            .pxl-item--title{
                @media #{$max-xl}{
                    padding: 22px 40px;
                }
                @media #{$max-md2}{
                    font-size: 22px;
                }
                &.active{
                    background: #2562FF;
                }
                .pxl-sub--title{
                    @media #{$max-md2}{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.pxl-tabs3{
    .wrap-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0 53px;
        @media #{$max-sm}{
            display: block;
        }
        .pxl-tabs--heading{
            .pxl--heading{
                color: var(--white, #FFF);
                font-family: "Plus Jakarta Sans";
                font-size: 50px;
                font-weight: 300;
                line-height: 1.2;
                letter-spacing: 1px;
                @media #{$max-sm}{
                    margin-bottom: 35px;
                }
                @media #{$max-xsx}{
                    font-size: 36px;
                }
            }
        }
        .pxl-tabs--title{
            position: unset;
            height: fit-content;
            .pxl-item--title{
                padding: 17px 34px;
            }
        }
    }

    .pxl-swiper-dots{
        margin-top: 70px;
    }
}