// BR Team Carousel
.pxl-team-carousel1, .pxl-team-grid1 {
	.pxl-grid-inner,.pxl-swiper-wrapper{
		margin: 0 -10px;
		&.pxl-swiper-wrapper{
			margin: 0;
		}
		.pxl-grid-item,.pxl-swiper-slide {
			padding: 0 10px;
			margin-bottom: 20px;
			.pxl-item--inner{
				padding-top: 30px;
				text-align: center;
				.pxl-item--image{
					position: relative;
					img{
						border-radius: 50%;
						max-width: 219px;
					}
					.svg1, .svg2{
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						z-index: -1;
						transition: 0.5s;
						animation: pxl_spin_rv 2s linear infinite;
						animation-play-state: paused;
					}
					.svg2{
						animation: pxl_spin_rv2 2s linear infinite;
						animation-play-state: paused;
						
					}
					
				}
				.pxl-item--holder{
					.pxl-item--title{
						margin-top: 35px;
						background: linear-gradient(180deg, $gradient_color_from 0%, $gradient_color_to 100%);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;

					}
					.pxl-item--position{
						color: $primary_color;
					}
					.pxl-item--social{
						display: flex;
						justify-content: center;
						align-items: center;
						gap: 15px;
						i{
							transition: 0.25s;
							color: #FF2883;
							font-size: 10px;
						}
					}	
				}
				&:hover{
					.svg1,.svg2{
						animation-play-state: running;
					}
				}
				.pxl-item--social i:hover{
					color: white;
					transform: scale(1.2);
				}

			}
		}
	}
}
.pxl-team-carousel2 {
	.pxl-swiper-wrapper,.pxl-carousel-inner,.pxl-swiper-container {
		overflow: visible;
		.pxl-swiper-arrow-wrap{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			width: 115%;
			z-index: 999;
			justify-content: space-between;
			margin-top: 0;
			@media #{$max-md2}{
				width: 100%;
			}
			.pxl-swiper-arrow-prev:hover{
				i{
					transform: translateX(-3px);
					transition: all 0.3s linear;
				}
			}
			.pxl-swiper-arrow-next:hover{
				i{
					transform: translateX(3px);
					transition: all 0.3s linear;
				}
			}
		}
	}
	.pxl-carousel-inner{
		margin: 25px 0;
	}
	.pxl-swiper-slide {
		opacity: 0;
		pointer-events: none;
		@include transition(300ms all linear 0ms);
		padding: 0;
		@media #{$max-md2}{
			padding: 0 15px;
		}
		.pxl-item--inner{
			position: relative;
			background: #2A0083;
			border-radius: 15px;
			overflow: hidden;
			padding: 47px 0 50px 42px;
			.pxl-item--image{
				position: absolute;
				bottom: 0;
				right: -10%;
				z-index: 9;
				img{
					max-width: 310px;
					max-height: 371px;
				}
			}
			.pxl-item--holder{
				position: relative;
				z-index: 99;
				.pxl-item--title a,.pxl-item--position,.pxl-item--social{
					color: $primary_color;
				}
				.pxl-item--title a{
					font-family: "Bebas Neue";
					font-size: 32px;
					font-weight: 400;
					line-height: 1.03;
				}
				.pxl-item--position{
					font-family: "Inter";
					font-size: 14px;
					font-weight: 500;
					line-height: 1.6;
					margin-bottom: 19px;
				}
				.pxl-item--social{
					width: fit-content;
					gap: 18px;
					display: flex;
					border: 1px solid rgba(255, 255, 255, 0.50);
					background: rgba(255, 255, 255, 0.20);
					padding: 0 15px;
					border-radius: 100px;
					opacity: 0;
					transition: all 0.3s linear;
					a{
						display: flex;
						align-items: center;
					}
					i,svg{
						font-size: 11px;
						line-height: 26px;
					}
				}
			}
			.pxl-item--description{
				position: relative;
				z-index: 99;
				font-family: Inter;
				font-size: 18px;
				font-weight: 600;
				line-height: 1.4;
				color: $primary_color;
				max-width: 299px;
				margin-top: 170px;
				margin-right: 30px;
			}
			.background-svg{
				.svg1{
					position: absolute;
					right: 0;
					top: 0;
				}
				.svg-line{
					position: absolute;
					top: 47%;
					transform: translateY(-50%);
				}
				.bg-blur{
					border-radius: 274.143px;
					background: #E221AB;
					filter: blur(96.94556427001953px);
					position: absolute;
					width: 60%;
					height: 80%;
					bottom: 0;
					right: 0;
				}
			}
		}
		&.swiper-slide-visible {
			opacity: 1;
			pointer-events: all;
		}
		&.swiper-slide-next{
			transform: scale(1.101);
			position: relative;
			z-index: 999;
			@media #{$max-md2}{
				transform: scale(1);
			}
			.pxl-item--inner{
				background: linear-gradient(180deg, #E91A83 -2.5%, #4C24C1 63.4%);
				.pxl-item--holder{
					.pxl-item--social{
						opacity: 1;
					}
				}
				.background-svg{
					.svg-line{
						top: 52%;
						transform: translateY(-50%) scale(0.9);
					}
				}
			}
			.background-svg{
				.bg-blur{
					border-radius: 303px;
					background: #FCBE00;
					filter: blur(107.15036010742188px);
				}
			}
		}
	}

}



// BR Team Grid
.pxl-team-grid1{
	.pxl-grid-inner{
		.pxl-grid-item{
			margin-bottom: 90px;
			@media #{$max-sm}{
				margin-bottom: 35px;
			}
			.pxl-item--inner {
				.pxl-item--image{
					img{
						position: relative;
						z-index: 1;
						max-width: 336px;
						@media #{$max-md}{
							max-width: 290px;
						}
					}
					.pxl-item--svg{
						.svg1, .svg2{
							z-index: 0;
							@media #{$max-md}{
								height: 110%;
							}

						}
					}
				}
				.pxl-item--holder{
					.pxl-item--title{
						margin: 51px 0 10px;
						font-size: 30px;
						font-family: 'Syne';

					}

					.pxl-item--position{
						font-size: 18px;
						margin-top: 7px;
						margin-bottom: 20px;
					}
					.pxl-item--social{	
						gap: 24px;
						i{
							color: $primary_color;
							font-size: 14px;
						}
					}
					.pxl-item--social i:hover{
						color: #FF2883;
					}	
				}

			}
		}
	}
	
}



.pxl-team-grid2 {
	.pxl-grid-item{
		margin-bottom: 30px;
		.pxl-item--inner {
			position: relative;
			padding: 47px 49px 44px;
			background: var(--purple-grad-2, linear-gradient(180deg, #35244A 0%, #17112B 100%));
			border-radius: 15px;
			overflow: hidden;
			@media #{$max-lg}{
				padding: 47px 48px 20px;
			}
			@media #{$max-xs}{
				padding: 47px 46px 20px;
			}

			transition: all 0.3s linear;
			.pxl-item--image{
				text-align: center;
				img{
					position: relative;
					z-index: 99;
					max-width: 247px;
					border-radius: 50%;
					border: 9.75px solid rgba(255, 255, 255, 0.08);
				}
			}
			.pxl-item--background{
				.background-front svg, .background-top svg, .background-below svg{
					position: absolute;
					width: 100%;
					bottom: 0;
					left: 0;
					z-index: 1;
					opacity: 1;
					transition: all 0.3s linear;
					transform: translate(0);
					@media #{$max-md2}{
						height: 100%;
					}
					@media #{$max-xs}{
						transform: scale(1.5) translate(0);
					}
				}
				.background-front svg,.background-top svg{
					margin-bottom: -15px;
					
					@media #{$max-lg}{
						margin-bottom: -45px;
					}
					
				}
				.background-top svg, .background-below svg{
					opacity: 0;
					transform: scale(1.5) translateY(50%);

				}
				.background-below svg{
					opacity: 0;
					transform: translateY(-50%);
					@media #{$max-md2}{
						margin-bottom: -35px;
					}

				}
				.background-top svg{
					z-index: 2;
				}
			}

			.pxl-social{
				position: absolute;
				inset: 0;
				z-index: 9;
				.pxl--item{
					position: relative;
					display: flex;
					justify-content: end;
					margin-top: 20px;
					margin-right: 24px;
					overflow: hidden;
					@media #{$max-lg3}{
						margin-top: 10px;
						margin-right: 10px;
					}
					.pxl-button--social{
						position: absolute;
						top: 0;
						right: 0;
						opacity: 1;
						transition: all 0.3s linear;
						width: 52px;
						height: 52px;
						border-radius: 10px;
						background: linear-gradient(180deg, $gradient_color_from 0%, $gradient_color_to 100%);
						display: flex;
						justify-content: center;
						align-items: center;
						@media #{$max-lg3}{
							width: 35px;
							height: 35px;
						}
					}
					.pxl-item--social{
						display: flex;
						align-items: center;
						width: 52px;
						height: fit-content;					
						opacity: 1;
						gap:3px;							
						background: linear-gradient(0deg, $gradient_color_from 0%, $gradient_color_to 100%);
						border-radius: 10px;
						font-size: 25px;
						transform: translateY(-150%) rotate(180deg);
						transition: all 0.3s linear;
						flex-direction: column;
						@media #{$max-lg3}{
							width: 35px;
						}
						@media #{$mm-md}{
							font-size: 18px;
							gap: 5px;
						}

						a{
							transform: rotate(90deg);
							&:last-child{
								margin-bottom: 8px;
							}
							&:nth-child(1){
								margin-top: 3px;
							}
						}

					}
				}
			}
			.pxl-item--holder{
				position: relative;
				z-index: 9;
				.pxl-item--title {
					margin-top: 25px;					
					a{
						font-family: "Syne";
						font-size: 28px;

						line-height: 1.32;
						@media #{$max-lg3}{
							font-size: 24px;
						}
						@media #{$mm-md}{
							font-size: 22px;
						}

					}
				}
				.pxl-item--position{
					font-size: 18px;	
					font-weight: 400;
					line-height: 160%;
					color: $primary_color;
					border-bottom: 2px solid rgba(184, 185, 218, 0.40);
					padding-bottom: 20px;
					margin-bottom: 16px;
					@media #{$max-lg3}{
						font-size: 14px;
					}
				}
				.pxl-item--schedule{
					font-family: "Plus Jakarta Sans";
					font-size: 20px;
					font-weight: 700;
					line-height: 140%;
					@media #{$max-lg3}{
						font-size: 18px;
					}
					@media #{$mm-sm}{
						font-size: 16px;	
					}
					color: $primary_color;
				}
				
			}
		}
		.pxl-item--inner:hover{
			.background-front svg{
				opacity: 0;
				transition: all 0.3s linear;
				transform: translateY(50%);
			}

			.background-top svg, .background-below svg{
				opacity: 1;
				transform:scale(1.5) translate(0, 0);
				transition: all 0.3s linear;
			}
			.background-below svg{
				transform: translate(0,0);
			}

			&:hover{
				.pxl-button--social{
					opacity: 0;
					transition: all 0.3s linear;
				}
				.pxl-item--social{
					opacity: 1;
					transform: translateY(0) rotate(180deg);
					transition: all 0.3s linear;
				}
			}
		}
	}
}


.pxl-team-grid3{
	.pxl-grid-item{
		padding-bottom: 110px;
		padding-right: 25px;
		.pxl-item--inner{
			position: relative;
			.pxl-item--image{
				position: relative;
				&:before{
					position: absolute;
					content: '';
					width: calc(100% - 1px);
					height: calc(100% - 1px);
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					background: #2562FF;
					transition: all 0.3s linear;
				}
				a{
					position: relative;
				}
			}
			.pxl-social{
				position: absolute;
				top: 0;
				right: 0;
				background: #90FFF2;
				padding: 0;
				width: 0;
				display: flex;
				opacity: 0;
				transition: all 0.3s linear;
				overflow: hidden;
				.pxl-item--social{
					display: flex;
					gap: 15px;
					flex-direction: column;
					transform: rotate(180deg);
					a{
						transform: rotate(90deg);
						color: #0C2271;
					}
				}
			}
			.pxl-item--holder{
				margin-left: 20px;
				margin-top: 15px;
				.pxl-item--title{
					margin-bottom: 10px;
					a{
						color: var(--dark-blue-1, #0C2271);
						font-family: "Plus Jakarta Sans";
						font-size: 24px;
						font-weight: 800;
						line-height: 1.54;
						letter-spacing: 0.48px;
					}

				}
				.pxl-item--position{
					color: var(--Blue-1, #2562FF);
					font-family: "DM Sans";
					font-size: 16px;
					font-weight: 500;
					line-height: 0.875
				}
			}
		}
		&:hover{
			.pxl-item--inner{
				.pxl-item--image{
					&:before{
						margin-top: -16px;
						margin-left: -16px;
					}
				}
				.pxl-social{
					padding: 25px 20px;
					width: auto;
					opacity: 1;
				}
			}
		}
	}
}
